.App {
  text-align: center;
  background-color: black;
  height: 100vh;
  width: 100vw;


}

.image-icon {
  width: 50px;
  height: 50px;
}

.tweet-text-bar {
  height: 100px;
  width: 600px;
  background-color: rgba(0, 0, 0, 0.11);
}

.Tweet-Button {
  width: 100px;

}

.Side-Bar-Page {
  height: 100vh;
  border-right: 1px solid white;
}

.Review-Bar-Page {
  border-left: 1px solid white;
}

.Content-Page {
  border-bottom: 1px solid white;
}